# Python
**pycache**/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data
data/raw/*
data/processed/*
data/data_versioning/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/data_versioning/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Azure
.env
.azure/

# MLflow
mlruns/
